@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #444950;
  color: #212121;
  line-height: 1.5;
  margin: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  background-color: #5756a7;
  border-bottom: 2px solid #606770;
  padding: 15px 0;
}

.search-form {
  display: flex;
  justify-content: center;
  

}
.search-form__input {
  padding: 10px;
  width: 300px;
  border: 1px solid gray;
  margin-right: 5px;
  border-radius: 3px;
  font-size: 16px;
  
}

.search-form__input:focus {
  outline: none;
}


.search-form__button {
  border: 1px solid gray;
  border-radius: 3px;
  background-color: #f1f1f1;
  font-size: 16px;
}

.search-form__button:hover {
  background-color: #cecdcd;
}

// _________________________________

.main-content {
  padding: 80px 20px;
}
.gallery {
  display: flex;
  gap: 34px;
  flex-wrap: wrap;
  justify-content: center;
  
}

.photo-card {
  max-width: 355px;
  height: 340px;
  display: flex;
  flex-direction: column;
  border: 2px solid gray;
  border-radius: 5px;
  overflow: hidden;
}

.photo-card__image {
  flex: 1 0 auto;
}

.photo-card__image img  {
  max-height: 237px;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 10px;
  text-align: center;
  color: #f1f1f1;
}

.load-more-btn-wrapper {
  text-align: center;
  margin-top: 30px;
}

.load-more {
  display: inline-block;
  width: 250px;
  padding: 15px 10px;
  font-size: 16px;
  background-color: #5756a7;
  border-radius: 5px;
  color: #f1f1f1;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid #606770;
}

.load-more.is-hidden {
  display: none;
}

.load-more:hover {
  color: #212121;
  background-color: #31307e;
}
